<div class="ideaa">
  <h2>That was a dumb idea anyways...</h2>

  <%= form_for [@idea] do |f| %>
    <%= collection_select(:idea, :category_id, Category.all, :id, :title) %>
    <%= f.label :Idea %>
    <%= f.text_field :content %>
    <br>
    <br>
    <% Image.all.each do |image| %>
      <%= image_tag(image.image_url, size: "200x150") %>
      <%= check_box_tag('image_url[]', image.id) %>
    <% end %>
    <br>
    <br>
    <%= f.submit %>
  <% end %>
</div>
