<div class="ideaa">
  <h2>That was a dumb idea anyways...</h2>


  <%= form_for @idea do |f| %>
    <%= collection_select(:idea, :category_id, Category.all, :id, :title) %>
    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit %>
  <% end %>
</div>
