<h1>Add Image</h1>

<%= form_for [:admin, @image] do |f| %>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.submit %>
<% end %>

<br>
<br>
<br>
<%= link_to "back", admin_images_path(current_user) %>
<br>
<br>
<%= link_to "Admin Home", admin_user_path(current_user) %>
